@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');

@import "settings/reset";
@import "settings/variables";
@import "settings/default";

@import "components/header";
@import "components/thumbs-videos";
@import "components/loader";