.header{
	position: relative;
	background-color: $vinho;
	padding-top: 12px;
	padding-bottom: 12px;

	.main-header{
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
		
		&__navigation{
			display: flex;
		    justify-content: flex-end;
    		align-items: center;

    		.navigation-itens{ margin-left: 10px; }
			
			.search-item{
				&__field{
					position: absolute;
					width: calc(100% - 30px);
					left: 0px;
					bottom: -20px;
					height: 35px;
				    border: none;
				    outline: none;
				    padding: 0px 15px;
				    color: $branco;
				    opacity: 0;
				    background-color: #932d4d;
				    transition: all 0.3s linear;

				    &:focus{ background-color: #7d2641; }
				}

				&__image{
					position: relative;
					z-index: 4;
					transition: all 0.3s linear;

					&:hover{
						cursor: pointer;
						opacity: 0.8; 
					}
				}

				&--open{
					.search-item__field{
						bottom: -35px;
						opacity: 1;
					}
				}

				@media (min-width: 767px){
					position: relative;

					&__field{
	    				width: 288px;
	    				top: -10px;
	    				bottom: auto;
	    				left: auto;
	    				right: -10px;
	    				border-radius: 5px;
	    				border: 1px solid $branco;
	    			}
    			}
			}

    		.menu-item{
    			position: relative;
    			display: flex;
		    	justify-content: flex-end;
    			align-items: center;

    			&__text{
    				color: $branco;
    				font-size: 17px;
    				margin: 0px 10px;
    				transition: all 0.3s linear;
    				display: none;

    				@media (min-width: 500px){
    					display: block;
    				}
    			}

    			.main-hamburguer{
    				justify-content: flex-start;
				    display: flex;
				    position: relative;
				    width: 16px;
				    height: 12px;

				    &__lines{
				    	width: 100%;
    					height: 2px;
    					display: block;
    					background-color: $branco;
    					margin: 5px 0px;
    					transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;

    					&:before, &:after{
    						content: "";
						    display: block;
						    position: absolute;
						    width: 100%;
						    height: 2px;
						    background-color: $branco;
						    border-radius: 5px;
						    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
    					}

    					&:before{ top: 0px; }

    					&:after{ bottom: 0px; }
				    }
    			}

    			.list-menu{
    				display: none;
					position: absolute;
					padding: 10px;
					top: 35px;
					right: -97%;
					border: 1px solid $cinza-claro;
					border-radius: 5px;
					background-color: $branco;

					&__item{
						border-radius: 5px;
						padding: 10px 15px;
						min-width: 120px;
						transition: all 0.3s linear;

						&:hover{ background-color: #f2f2f2; }

						&:active{ background-color: #e6e6e6; }
					}

					&__link{
						display: flex;
						align-items: center;
						text-decoration: none;
						font-weight: 600;
						color: $cinza;
						font-size: 17px;
					}

					&__image{ margin-right: 10px; }

					&:before{
						content: '';
						position: absolute;
						top: -10px;
						right: 7%;
						width: 0; 
						height: 0; 
						border-left: 10px solid transparent;
						border-right: 10px solid transparent;
						border-bottom: 10px solid $branco;
					}

					@media (min-width: 500px){
    					top: 37px;
    					right: -19%;
    				}
    			}

    			&--open{
    				.menu-item__text{ opacity: 0.8; }

    				.main-hamburguer__lines{
				    	background: transparent;
				    	opacity: 0.8;

					    &:before, &:after{ top: 35%; }

					    &:before{ transform: rotate(49deg); }

					    &:after{ transform: rotate(-49deg); }
					}

					.list-menu{ display: block; } 
    			}
    		}
		}
	}
}