// Bases do projeto
$first-color: #ffffff;
$second-color: #ec6909;
$third-color: #000000;
$fifth-color: #0e1c59; 
$sixth-color: rgba(0, 0, 0, 0.4);

//Bgs
$seventh-color:#fbfbfb;

// Fonts
$quickpen: 'quickpenbold';
$dosis: 'dosisregular';