// Bases do projeto
$branco: #ffffff;
$vinho: #a8395c;
$cinza: #797979;
$cinza-claro: #c8c8c8;
$cinza-text: #4c4c4c;  

// Fonts
$titillium: 'Titillium Web', sans-serif; // Regular -> 400 / SemiBold -> 600 / Bold -> 700